* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 71, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {

    width: 80%;
    box-shadow: 13px 3px 16px 8px rgba 0, 0, 0, 1;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin: 30px;

}

nav {

    width: 100%;
    text-align: right;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;

}

.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.nav-link :hover {
    color: red;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.colomn-1 {
    margin-left: 100px;
    position: relative;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
    color: rgb(144, 112, 112);
    font-weight: 100;
    margin: 20px o;
}

.colomn-1 p {
    font-size: 16px;
    color: #b7b7b7b7;
    font-weight: 100;
}

.colomn-1::before {
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(to right, #4c6c81, #083263);
    position: absolute;
    left: -40px;
    top: 8px;
}

h4 {
    font-size: 20px;
    color: black;
    margin: 30px 0;
}

.buy {
    width: 140px;
    border: none;
    padding: 12px 20px;
    outline: none;
    color: white;
    border-radius: 6px;
    z-index: 2;
    cursor: pointer;
    background: linear-gradient(to right, #4c6c81, #083263);

}

.colomn-2 {
    display: flex;
    align-items: center;
    position: relative;
}

.controller {
    width: 90%;
    z-index: 2;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #4c6c81, #083263);
    height: 100%;
    width: 80%;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transform: translateX(150px);
}

.add-cart {
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.add-cart img {
    height: 45px;
    width: 45px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    height: 20px;
    margin: 20px;
}